<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--informações de conexão do crm de produção 
    <add key="organizationUri" value="https://solicitacoes.fde.sp.gov.br/XRMServices/2011/Organization.svc" />
    <add key="adminName" value="SEESP\portalobras" />
    <add key="adminPassword" value="Crm$2019" />
    <add key="CRM-COM-IFD" value="true" />-->

    <!--informações de conexão do crm de homologação
    <add key="organizationUri" value="https://h-solicitacoes.fde.sp.gov.br/XRMServices/2011/Organization.svc" />
    <add key="adminName" value="SEESP\portalobras" />
    <add key="adminPassword" value="Crm$2019" />
    <add key="CRM-COM-IFD" value="true" />-->

    <!--informações de conexão do crm de desenvolvimento-->
    <add key="organizationUri" value="http://paca-dev01/D-Solicitacoes/XRMServices/2011/Organization.svc" />
    <add key="adminName" value="SEESP\portalobras" />
    <add key="adminPassword" value="Crm$2019" />
    <add key="CRM-COM-IFD" value="false" />
    
    <!--informações de upload-->
    <add key="BufferLen" value="10240000"/>
    <add key="CaminhoUploadImagem" value="C:\temp\fde.crm\imagem\"/>
    <add key="CaminhoUploadPDF" value="C:\temp\fde.crm\pdf\"/>
    <add key="CaminhoUploadAnexo" value="C:\temp\fde.crm\anexo\"/>
    <add key="CaminhoLoadImagem" value="http://arquivo.fde.sp.gov.br/fde.crm/imagem/"/>
    <add key="CaminhoLoadImagemLogo" value="http://arquivo.fde.sp.gov.br/fde.crm/imagem/"/>
    <!--
    <add key="BufferLen" value="10240000" />
    <add key="CaminhoUploadImagem" value="\\educacao.intragov\web\fde.arquivo\fde.crm\imagem\" />
    <add key="CaminhoUploadPDF" value="\\educacao.intragov\web\fde.arquivo\fde.crm\pdf\" />
	  <add key="CaminhoUploadAnexo" value="\\educacao.intragov\web\fde.arquivo\fde.crm\anexo\" />
    <add key="CaminhoLoadImagem" value="http://arquivo.fde.sp.gov.br/fde.crm/imagem/" />
    <add key="CaminhoLoadImagemLogo" value="http://arquivo.fde.sp.gov.br/fde.crm/imagem/"/>    
    -->
  </appSettings>  
</configuration>